/* global */
:root {
    --main-color: #320E3E;
    --second-color: #ffd79d;
    --deep-purple: #d902ee;
    --clair-purple: #f162ff;
    --pastel-pink: #F699FF;
    --border-color: #fff;
    --warning-color: #ff3157;
    --font-main: "Arial, Helvetica, sans-serif";
}
* {font-family: Arial, sans-serif; font-size: 14px; font-weight:normal; font-style:normal; color:#454550; padding:0; margin:0; box-sizing: border-box;}
body {background:var(--main-color); margin: 40px 100px 0px 100px;  }
p {padding: 0px 0;}
a { text-decoration:none; color:#ff9600; transition: color 0.3s; }
a:hover {color:#00378B;}
ol { margin:0px 28px; padding:0;}
b, strong {font-weight:bold;}
i, em {font-style:italic;}
blockquote { margin:8px 20px; }
input, textarea, select { border:none; padding:0; background:#fdea91; color:#5A5A5A; font-weight:bold; font-size:12px; border-radius:4px;}
input, textarea, option { padding:4px 4px; font-weight:bold; color:#5A5A5A; font-size:12px;}
textarea {resize: none;}
.inputs {width:200px;}
.linputs {width:400px;}
.sinputs {width:150px;}
.vsinputs {width:75px;}
.vlinputs {width:100%;}
form {margin:0;}
.img {font-size:0}
sup, sub {font-size:9px; color:inherit;}
img {border:0;  height:auto; }


#title{
    font-size : 30px;
    font-weight: bold;
}
/* titre */
h1{
    color: var(--second-color);
}

/* page */
.page {font-size:0;}
.page .game {width:50%; display:inline-block; vertical-align:top;}
.page .options {width:50%; display:inline-block; vertical-align:top;}
p {
    text-align: justify;
    font-size: 20px;
    color: var(--clair-purple);
    line-height: 1.7;}

/* menu */
.menus .menu {padding:10px 25px; margin:8px; background:var(--clair-purple); color:var(--main-color); cursor:pointer; width:200px;}

/* result */
.result {font-size:30px;}


button {
    outline: none;
  }
  .custom-btn {
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 130px;
    display: block;
    display: inline-block;
    height: 40px;
    padding: 10px 25px;
    border: 2px solid var(--main-color);
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
  }
 /* Animation du bouton secondaire */
 .btn-second {
    border-color: var(--clair-purple);
    background: var(--main-color);
   color: var(--clair-purple);
   z-index: 1;
   border-radius: 5px;
 }
 .btn-second:after {
    border-radius: 5px;
   position: absolute;
   content: "";
   width: 0;
   height: 100%;
   top: 0;
   left: 0;
   direction: rtl;
   z-index: -1;
   background: var(--second-color);
   transition: all 0.3s ease;
 }
 .btn-second:hover {
   color: var(--main-color);
   border-color: var(--main-color);
 }
 .btn-second:hover:after {
   left: auto;
   right: 0;
   width: 100%;
 }
 .btn-second:active {
   top: 2px;
 }




.logic-doors{
    background : var(--deep-purple);
    border-radius: 10px;
    border-style: solid;
    border-color: var(--border-color);
    max-height : 400px;
    max-width : 900px;
    background-color: none; /*Autre couleur ? A voir grey,white,no-background*/
}
/* Positionnement -- code de merde */
.door{max-width:80px;  position : absolute; }
.link{max-width:50px;  position : absolute; } 
.demi-link{position : absolute; max-width: 20px;}
/* A */
#A_First_Link{left : 141px;bottom: 381px;}
#A_Second_Link{left : 189px;bottom: 381px;}
#A_Third_Link{left : 236px;bottom: 381px;}
/* B */
#B_First_Link{left : 141px; bottom: 315px;}
#B_Door{left : 174px;bottom: 297px}
#B_Second_Link{ left : 237px;bottom: 316px;}
/* AB */
#B_LinkToA_Door{transform: rotate(90deg); left : 233px;bottom: 338.15831px;}
#B_Third_Link{left : 255px;bottom: 363px;}
#B_Last_Link{left : 266px;bottom: 363px;}
#AB_Door{left : 273px;bottom: 355px}
#AB_First_Link{left : 337.7px;bottom: 371px}
#AB_Second_Link{left : 385.7px;bottom: 371px}
#AB_Third_Link{left : 434.7px;bottom: 371px}
#AB_LinkToABCDEF_Door{transform: rotate(90deg);left : 461.8px;bottom: 350.1583px;}
#AB_LinkToABCDEF_Door2{transform: rotate(90deg);left : 461.8px;bottom: 305px;}
#AB_LinkToABCDEF_Door3{transform: rotate(90deg);left : 461.8px;bottom: 300px;}
#AB_Last_Link{left : 483px;bottom: 275px}
/* C */
#C_First_Link{left : 142px;bottom: 254px;}
#C_Door{left : 144px;bottom: 233px;}
#C_Second_Link{left : 204px;bottom: 252px;}
/* CD */
#CD_Door{left : 239px;bottom: 225px;}
#CD_First_Link{left : 304px;bottom: 243.8px}
#CD_LinkToCDEF_Door{transform: rotate(90deg);left : 300px;bottom: 221.358999px}
#CD_LinkToCDEF_Door2{transform: rotate(90deg);left : 312.5px;bottom: 185px;max-width: 25px;}
#CD_LinkToCDEF_Door3{transform: rotate(90deg);left : 312.5px;bottom: 178px;max-width: 25px;}
#CD_LinkToCDEF_Door4{left : 321.5px;bottom: 165px;}
/* D */
#D_First_Link{left : 141px;bottom: 190px;}
#D_Second_Link{left : 185px;bottom: 190px; max-width: 25px}
#D_LinkToC_Door{transform: rotate(90deg); left : 182px;bottom: 212px; }
#D_Last_Link{left : 204px;bottom: 234px;}
/* E */
#E_First_Link{left : 141px;bottom: 125px;}
#E_Second_Link{left : 185px;bottom: 125.2px; max-width: 25px}
#E_LinkToF_Door{transform: rotate(90deg); left : 182px;bottom: 100px; }
#E_Last_Link{left : 204px;bottom: 76px;}
/* F */
#F_First_Link{left : 141px;bottom: 60px;}
#F_Door{left : 143px;bottom: 40px;}
#F_Second_Link{left : 204px;bottom: 59px;}
/* EF */
#EF_Door{left : 239px;bottom: 50px;}
#EF_First_Link{left : 304px;bottom: 68.8px}
#EF_LinkToCDEF_Door{transform: rotate(90deg);left : 300px;bottom: 90.997px;}
#EF_LinkToCDEF_Door2{transform: rotate(90deg);left : 312.5px;bottom: 127px;max-width: 25px;}
#EF_LinkToCDEF_Door3{transform: rotate(90deg);left : 312.5px;bottom: 135px;max-width: 25px;}
#EF_LinkToCDEF_Door4{left : 321.5px;bottom: 149px;}
/* CDEF */
#CDEF_Door{left : 357px;bottom: 140px}
#CDEF_First_Link{left : 421.5px;bottom: 156.5px}
#CDEF_Second_Link{left : 469px;bottom: 157.2px}
#CDEF_LinkToABCDEF_Door{transform: rotate(90deg);left : 461.8px;bottom: 178.99px;}
#CDEF_LinkToABCDEF_Door2{transform: rotate(90deg);left : 461.8px;bottom: 227.7px;}
#CDEF_LinkToABCDEF_Door3{transform: rotate(90deg);left : 461.8px;bottom: 230.7px;}

#CDEF_Last_Link{left : 483px;bottom: 255px;}


/* ABCDEF */
#ABCDEF_Door{left : 517.7px;bottom: 247px;}
/* OUTPUT */
#OUTPUT{left : 583px;bottom: 266px;}
#Output1Icon{position : absolute; left : 592px;bottom: 239px;}
#Output_Text{position : absolute;left : 638px;bottom: 257px;color:  black;font-weight: bold;font-size: 20px;}
.Icon{
    max-height:  30px;
    width : auto;
    margin : 15px 10px;

    
    }
.Icons{list-style-type: none;}

#Table{
    border-radius: 10px;
    border-style: solid;
    border-color: var(--border-color);
    position : absolute;
    left : 750px;
    bottom: 40px;
    background-color: white;
}
#Table img{

    max-width: 220px;
}

.box-input-validation{position : absolute;left : 1050px;
    bottom: 100px;}

