body { padding: 0; margin: 0 }



/* global */
:root {
    --main-color: #320E3E;
    --second-color: #ffd79d;
    --deep-purple: #d902ee;
    --clair-purple: #f162ff;
    --pastel-pink: #F699FF;
    --border-color: #fff;
    --warning-color: #ff3157;
    --font-main: "Arial, Helvetica, sans-serif";
}
* {font-family: Arial, sans-serif; font-size: 14px; font-weight:normal; font-style:normal; color:#454550; padding:0; margin:0; box-sizing: border-box;}
body {background:var(--main-color); margin: 20px;  }
p {padding: 0px 0;}
a { text-decoration:none; color:#ff9600; transition: color 0.3s; }
a:hover {color:#00378B;}
ol { margin:0px 28px; padding:0;}
b, strong {font-weight:bold;}
i, em {font-style:italic;}
blockquote { margin:8px 20px; }
input, textarea, select { border:none; padding:0; background:#fdea91; color:#5A5A5A; font-weight:bold; font-size:12px; border-radius:4px;}
input, textarea, option { padding:4px 4px; font-weight:bold; color:#5A5A5A; font-size:12px;}
textarea {resize: none;}
.inputs {width:200px;}
.linputs {width:400px;}
.sinputs {width:150px;}
.vsinputs {width:75px;}
.vlinputs {width:100%;}
form {margin:0;}
.img {font-size:0}
sup, sub {font-size:9px; color:inherit;}
img {border:0;  height:auto; }


#title{
    font-size : 30px;
    font-weight: bold;
}
/* titre */
h1{
    color: var(--second-color);
}

/* page */
.page {font-size:0;margin: -150px 0px 0px 310px;}
.page .game {width:50%; display:inline-block; vertical-align:top;}
.page .options {width:50%; display:inline-block; vertical-align:top;}
p {
    text-align: justify;
    font-size: 20px;
    color: var(--clair-purple);
    line-height: 1.7;}

/* menu */
.menus .menu {padding:10px 25px; margin:8px; background:var(--clair-purple); color:var(--main-color); cursor:pointer; width:200px;}

/* result */
.result {font-size:30px;}


.box-input-validation{

    margin-left : -285px;;
    margin-top : 150px;
    width : 250px;
}


#unity-container { position: absolute }
#unity-container.unity-desktop { left: 45%; top: 65%; transform: translate(-50%, -50%) }
#unity-container.unity-mobile { width: 100%; height: 100% }
#unity-canvas { background: #F79AFF ;width: 700px !important; height: 437.5px !important;}
.unity-mobile #unity-canvas { width: 100%; height: 100% }
#unity-loading-bar { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); display: none }
#unity-logo { width: 154px; height: 130px; background: url('unity-logo-light.png') no-repeat center }
#unity-progress-bar-empty { width: 141px; height: 18px; margin-top: 10px; background: url('progress-bar-empty-light.png') no-repeat center }
#unity-progress-bar-full { width: 0%; height: 18px; margin-top: 10px; background: url('progress-bar-full-light.png') no-repeat center }
#unity-footer { position: relative }
.unity-mobile #unity-footer { display: none }
#unity-webgl-logo { float:left; width: 204px; height: 38px; background: url('webgl-logo.png') no-repeat center }
#unity-build-title { float: right; margin-right: 10px; line-height: 38px; font-family: arial; font-size: 18px }
#unity-fullscreen-button { float: right; width: 38px; height: 38px; background: url('fullscreen-button.png') no-repeat center }
#unity-mobile-warning { position: absolute; left: 50%; top: 5%; transform: translate(-50%); background: white; padding: 10px; display: none }
